language: php
php:
  - '7.2'
  - '7.3'
install:
  - composer install --no-interaction
script:
  - phpunit --coverage-clover=coverage.xml
after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.xml
