<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnNotice="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutCoverageMetadata="true"
         requireCoverageMetadata="true">
  <testsuites>
    <testsuite name="xml-validator Test Suite">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <clover outputFile="./clover.xml"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
